<div class="row">
    <div class="col-md-12">
        {{ form_start(form,{'attr':{action:path('media_file_update',{id:form.vars.data.id})}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Update" class="btn btn-primary pull-right">
        {{ form_end(form) }}
    </div>
</div>
