<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    {% set routeName = app.request.get('_route') %}
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview  {% if routeName == "country_list" or routeName == "state_list" or routeName == "city_list" %} active {% endif %}">
            <a href="#">
                <i class="fa fa-share"></i> <span>Locality</span>
                <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
            </a>
            <ul class="treeview-menu">
                <li {% if routeName == "country_list" %} class="active" {% endif %}>
                <a href="{{ path('country_list') }}"><i class="fa fa-circle-o"></i> Country</a>
                </li>
                <li  {% if routeName == "state_list" %} class="active" {% endif %}>
                <a href="{{ path('state_list') }}"><i class="fa fa-circle-o"></i> State</a>
                </li>
                <li  {% if routeName == "city_list" %} class="active" {% endif %}>
                <a href="{{ path('city_list') }}"><i class="fa fa-circle-o"></i> City</a>
                </li>
            </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
